@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

.fs-small {
  font-size: 0.5em;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
  font-family: 'Montserrat', cursive;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.sans-serif {
  font-family: 'Montserrat', sans-serif;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.home {
  display: flex;
  justify-content: space-around;
}

/* movie previews / list*/
.movie-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #2a9d8f;
}

.movie-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.movie-preview h2 {
  font-size: 1.25em;
  color: #e9c46a;
  margin-bottom: 8px;
}

.movie-preview p {
  color: #f4a261;
}

.movie-list h1 {
  color: #2a9d8f;
  margin: 0 auto;
}
.movie-list {
  padding: 10px 20px;
  background-color: #264653;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}