@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

body {
  background: transparent linear-gradient(136deg, #1C1C1C 0%, #950137 100%) 0% 0% no-repeat padding-box;

}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.25em;
}

button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.delete {
  background: #f13535
}

.fs-small {
  font-size: 0.5em;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1640px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

.nav-title {
  color: #ffff;
  text-decoration: underline;
  text-decoration-color: #fef10d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ffff;
  font-size:33px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: #fef10d;
}

.sans-serif {
  font-family: 'Montserrat', sans-serif;
}

.content {
  max-width: 980px;
  margin: 40px auto;
  padding: 20px;
}

.home {
  display: flex;
  justify-content: space-around;
}

/* movie previews / list*/
.movie-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #2a9d8f;
}

.movie-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.movie-preview h2 {
  color: #e9c46a;
  margin-bottom: 8px;
}

.movie-preview p {
  color: #f4a261;
}

.movie-list h1 {
  color: #2a9d8f;
  margin: 0 auto;
}
.movie-list {
  padding: 10px 20px;
  background-color: #264653;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

/* Movie details page */
.movie-details h2 {
  color:#f1356d;
  margin-bottom: 10px;
}

.movie-details div {
  margin: 20px 0;
}

/* Add movie form */
.movies {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.movies label {
  text-align: left;
  display: block;
}

.movies h2 {
  color:#f1356d;
  margin-bottom: 30px;
}

.movies input, .movies textarea, .movies select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}